<%- include ("../partials/head") %>
<div id="main-bloc">
    <div id="bloc-connexion">
        <div class ="bloc-presentation "><h1>Inscrivez-vous dans cette plateforme</h1></div>
        <div class="bloc-form" >
            <form  method="post" id="formInscription">
                <div>
                    <div class="bloc-champs"><label for="email">Nom</label></div>
                    <input type="text" name="nom" id="nom" >
                </div>
                <div>
                    <div class="bloc-champs"><label for="email">E-mail</label></div>
                    <input type="email" name="email" id="email" >
                </div>
                <div>
                    <div class="bloc-champs">
                       <label for="mdp">Mot de Passe</label> 
                    </div>
                    <input type="password" name="mdp" id="mdp" >
                </div>
                <div>
                    <input type="submit" value="Enregistrer">
                </div>
            </form>
        </div>
        
    </div>   
</div>


<%- include ("../partials/footer") %>