<%- include ("../partials/head") %>
<div id="main-bloc">
    <div id="bloc-connexion">
        <div class="message">
            <div><h1>Compte créé avec succée</h1></div>
            <a href="/pageAcceuil">Page d’acceuil</a>
        </div>
    </div>   
</div>
<%- include ("../partials/footer") %>