<%- include ("../partials/head") %>

<div id="main-bloc">
    <div id="bloc-connexion">
        <div class="message">
            <div><h1>Un utilisateur existe déja avec ces identifiants</h1></div>
            <a href="/inscription">Rééssayer</a>
        </div>
    </div>   
</div>
<%- include ("../partials/footer") %>